# Xcode\n.DS_Store\n*.xcuserstate\nxcuserdata/\nDerivedData/\n*.hmap\n*.ipa\n*.dSYM.zip\n*.dSYM\n\n# Swift Package Manager\n.build/\n\n# CocoaPods\nPods/\n*.xcworkspace\n\n# Environment variables\n.env\n.env.local
